* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    animation: body-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin: auto;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33,333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card.flip {
    transform: rotateY(180deg)
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .1s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 7.5px;
    position: absolute;
    animation-name: card-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

#modal {
    z-index: 1;
}

@keyframes body-background {
    0% {
        background-color: red;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: orange;
    }
}

@keyframes card-background {
    0% {
        background-color: grey;
    }
    25% {
        background-color: lightgrey;
    }
    50% {
        background-color: white;
    }
    75% {
        background-color: lightgrey;
    }
    100% {
        background-color: grey;
    }
}

